header {
    text-align: center;
}
h2 {
    font-size: 45pt;
    color: #3D3A38;
    font-family: 'Crimson Pro', serif;
    text-align: center;
}

body {
    font-family:'Crimson Pro', serif;
}

fieldset {
    background-color: #E4A199;
}
  .input-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: #3D3A38;
}
.date {
    display: flex;
    flex-direction: column;
}
.date input {
    width: 200px;
}

.concepts {
    display: flex;
    flex-direction: column;
}
.concepts textarea {
    width: 200px;
}

.entry {
    display: flex;
    flex-direction: column;
}

.entry textarea {
    width: 200px;
}

.mood {
    display: flex;
    flex-direction: column;  
}

.mood select {
    width: 200px;
}